<h1>Editing publication</h1>

<%= render "form", publication: @publication %>

<br>

<div>
  <%= link_to "Ver más", @publication, class:"btn btn-dark btn-sm"%> 
  <%= link_to "Volver", publications_path, class:"btn btn-dark btn-sm" %>
</div>
